# This file is used to configure the systemd service for the UA Chatbot
# Used to run the Flask application using Gunicorn and uvicorn workers
# Path: /etc/systemd/system/chatbot.service
[Unit]
Description=Gunicorn instance to serve UA Chatbot using Flask
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/ua_bot
ExecStart=/home/ec2-user/ua_bot/venv/bin/gunicorn app:app --workers 4 --bind 127.0.0.1:8080
Restart=always

[Install]
WantedBy=multi-user.target